<?xml version ="1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Salesforce">



<listeners>
 <listener class-name ="com.training.listeners.TestListeners"/>
</listeners>

<test name="UserMenuDropDown">

<classes>
<class name= "com.training.testcases.LoginTest"/>
<!--class name= "com.training.testcases.SFDC_Test"/>
< class name= "com.training.testcases.LoginTest"/>
<class name="com.training.testcases.UserMenuDropDownTest"/>
<class name="com.training.testcases.UserMenuMySettingsTest"/>
<class name="com.training.testcases.CreateAccountTest"/>
<class name="com.training.testcases.OpportunityTabTest"/>
<class name="com.training.testcases.LeadsTabTest"/>-->
</classes>

</test>

</suite>
